<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"type = "text/css" href= "{{ site.base_url }}/assets/css/styles.css">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/png" href="https://raw.githubusercontent.com/tejasmohanayyar/tejasmohanayyar.github.io/master/images/tejas.png"/>
