.sleftnavbar {

    position: sticky;
    text-align: center;
    padding: 7px;
    
 
}    

.sleftnavbar a {
    
    font-weight:600;
    color: whitesmoke;
    padding-right: 10px;
    
}

.sleftnavbar a:hover {

    background: rgb(16, 76, 126); 
    padding: 7px;
    border-radius: 5px;
    
}
